.idea

!logs/mysql/
!logs/mysql/.gitkeep
logs/mysql/*

!logs/nginx/
!logs/nginx/.gitkeep
logs/nginx/*

!logs/postgres/
!logs/postgres/.gitkeep
logs/postgres/*

mysql/runtime
mysql/runtime/*
!mysql/runtime/.gitkeep

pgadmin/runtime
pgadmin/runtime/*
!pgadmin/runtime/.gitkeep

postgres/runtime
postgres/runtime/*
!postgres/runtime/.gitkeep
